:root {
  --padding-x1: 8px;
  --padding-x2: 16px;
  --hover-color: #ccc;
  --scrollbar-background: #f9f9fd;
  --scrollbar-thumb-background: #18aaaa;
  --default-border-color: rgba(132, 153, 171, 0.3);
  --scrollbar-params: 5px;
}
